* {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;

}

nav {
    background: #1C2331;
}

#text {
    position: relative;
    margin-top: 200px;
    color: white;
    font-size: 10em;
    z-index: -1;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#b {
    background-color: #000;
    top: 50px;
    width: "500px";
    height: "500px";
}


#a img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;

}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #1C2331 !important;
    }
}



h2.rotate {
    font-size: 50px;
    margin: 0;
    color: #e74848;
    writing-mode: vertical-lr;
    text-align: center;
    line-height: .9;
    transform: rotate(180deg);
}


.image {
    position: absolute;
    top: -2vh;
    left: -2vw;
    height: 104vh;
    width: 104vw;

    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    background-position: center;
}

.under-water-effect {
    filter: url("#under-water-effect");
}

#c {
    height: fit-content;
    width: fit-content;
    font-size: 20px;
    position: relative;
    margin-right: 0px;
    top: 100px;
    left: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(119, 222, 184);
}

#d {
    height: fit-content;
    width: fit-content;
    margin-right: 0px;
    position: relative;
    top: 100px;
    left: 200px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(122, 122, 122);
}

#e {
    height: 200px;
    width: 300px;
    position: relative;
    margin-right: 0px;
    top: 100px;
    left: 200px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
}

#f1 {
    height: 200px;
    width: 300px;
    position: relative;
    top: 100px;
    left: 250px;

}

#video1 {
    width: 100vw;
}

.containerr {
    display: flex;
    flex-direction: row;
    background: white;
    font-size: large;
    padding: 10px;
    height: 90vh;


}

.containerr2 {

    background: white;
    font-size: large;
    padding: auto;
    height: 250px;
    margin-left: 250px;



}

.containerr2 img {

    padding: 10px;
    border-radius: 65px;
    height: 200px;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}



#l2boat {
    position: absolute;
    z-index: 0;
    transform: rotate(130deg);
}

.nee {
    text-align: center;
}

.nee1 {
    text-align: center;
    font-size: 100px;
    position: relative;
    z-index: 1;
    color: lightgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.nee2 {
    text-align: center;
    position: absolute;
    font-size: 50px;
    z-index: 10;
    top: 1450px;
    left: 580px;
    font-family: 'Smooch', cursive;
}

.blockquote-wrapper {

    padding: 0 20px;
}


.blockquote {
    position: relative;
    font-family: 'Barlow Condensed', sans-serif;
    max-width: 620px;
    margin: 80px auto;
    align-self: center;
}

.blockquote h1 {
    font-family: 'Abril Fatface', cursive;
    position: relative;
    /* for pseudos */
    color: #e74848;
    font-size: 10px;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    border: 2px solid rgb(160, 117, 117);
    border: solid 5px;
    border-radius: 20px;
    padding: 25px;
}

.blockquote h1:after {
    content: "";
    position: absolute;
    border: 5px solid #e74848;
    border-radius: 0 50px 0 0;
    width: 100px;
    height: 60px;
    bottom: -62px;
    left: 50px;
    border-bottom: none;
    border-left: none;
    z-index: 3;
}

@media all and (min-width: 600px) {
    .blockquote h1 {
        font-size: 20px;
        line-height: 1.2;
    }

}

.blockquote h4 {
    position: relative;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    padding-top: 15px;
    z-index: 1;
    margin-left: 150px;
    padding-left: 12px;
}


.blockquote h4:first-letter {
    margin-left: -12px;
}


#i1 {
    background-color: rgb(37, 37, 37);
    z-index: 10;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    position: absolute;
    left: 420px;
    top: 2750px;
    text-align: center;
    color: #fff;


}

#i2 {
    background-color: rgb(37, 37, 37);
    z-index: 10;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    position: absolute;
    left: 520px;
    top: 2550px;
    text-align: center;
    color: #fff;

}

#i3 {
    background-color: rgb(37, 37, 37);
    z-index: 10;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    position: absolute;
    left: 990px;
    top: 2680px;
    text-align: center;
    color: #fff;


}

#i4 {
    background-color: rgb(37, 37, 37);
    z-index: 10;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    position: absolute;
    left: 680px;
    top: 2620px;
    text-align: center;
    color: #fff;

}

#i5 {
    background-color: rgb(37, 37, 37);
    z-index: 10;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    position: absolute;
    left: 520px;
    top: 2950px;
    text-align: center;
    color: #fff;


}

#i6 {
    background-color: rgb(37, 37, 37);
    z-index: 10;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    position: absolute;
    left: 650px;
    top: 3100px;
    text-align: center;
    color: #fff;


}



#quizWrap {
    max-width: 600px;
    margin: 0 auto;

}


#quizQn {
    padding: 20px;
    background: #4c93ba;
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
}

#quizAns {
    margin: 10px 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

#quizAns input[type=radio] {
    display: none;
}

#quizAns label {
    background: #fafafa;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

#quizAns label.correct {
    background: #d8ffc4;
    border: 1px solid #60a03f;
}

#quizAns label.wrong {
    background: #ffe8e8;
    border: 1px solid #c78181;
}



.widget-wrap {
    width: 1000px;
    padding: 30px;

    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.064);

}

.footer {

    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

#ga {
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 20px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}