body{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-image: url('IMG/main.JPG');
    background-repeat: repeat;
}
.mainbox{
    width:100%;
    height:100vh;
    /* background-color: antiquewhite; */
    /* background-image: url('IMG/main.JPG'); */
    background-repeat:inherit;
    padding-top: 60px;
}
.contentmain{
    width:100%;
    height:330px;
    
    /* background-color: antiquewhite;     */
}
.contentbox{
    width:600px;
    height: 400px;
    /* border: 2px solid red; */
    border-radius: 20px;
    animation: MoveUpDown 2s linear infinite;
     position: absolute;
     margin-top: 50px;
     margin-left: 30%;
     background: rgba(255, 255, 255, 0.3);
     /* backdrop-filter: blur(2px); */
     /* display: ; */
}

.title{
    height: 15%;
    width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 40px;
     text-align: center;
     padding-top: 7px;
     /* font-weight: lighter; */
     background: rgba(255, 255, 255, 0.3);
     backdrop-filter: blur(10px);
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;
     
}

.pic{
    width: 30%;
    height: 100%;
    /* background-color: blue; */
}
.textbox{
width: 70%;
height: 100%;
/* background-color: pink; */
}
.links{
    /* width: 100%; */
    display: flex;
    height: 100px;
    /* background-color: #fff; */
}
.textcontent{
    margin-top: 10px;
    padding: 15px;
    width: 150%;
    height: 60%;
    /* background-color: skyblue; */
    /* padding: 9px; */
}
.contri{
    display: flex;
    flex-wrap: wrap;
    /* background-color: antiquewhite; */
    margin-top: 100px;
    justify-content: space-evenly;
}
@keyframes MoveUpDown {
    0%, 100% {
      top: 0;
    }
    50% {
      top:10px;
    }
  }